/* Modular Reusable Classes
============================*/
.container {
    margin: auto;
    padding: 0 2rem;
    max-width: 1100px;
    overflow: auto;
}

/* Padding top and bottom Reusable*/
.py-1{padding: 10px 0}
.py-2{padding: 20px 0}
.py-3{padding: 30px 0}
.py-4{padding: 40px 0}

/* Padding top Reusable*/
.pt-1{padding: 10px 0 0 0}
.pt-2{padding: 20px 0 0 0}
.pt-3{padding: 30px 0 0 0}
.pt-4{padding: 40px 0 0 0}
/* Padding bottom Reusable*/
.pb-1{padding: 0 0 10px 0}
.pb-2{padding: 0 0 20px 0}
.pb-3{padding: 0 0 30px 0}
.pb-4{padding: 0 0 40px 0}

/* Padding left and right Reusable*/
.px-1{padding: 0 10px}
.px-2{padding: 0 20px}
.px-3{padding: 0 30px}
.px-4{padding: 0 40px}

/* Padding all around Reusable */
.p-1{padding: 10px 10px}
.p-2{padding: 20px 20px}
.p-3{padding: 30px 30px}
.p-4{padding: 40px 40px}

.ml-4{margin-left: 4rem;}

.display-1{font-size: 40px;line-height: 1em}
.btn2 {
    background-color: tomato;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    transition: background-color 0.5s;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

/* Text formats Reusable  */
.text-info {color: #F7BF8A;}
.text-primary {color:#0d6efd;}
.text-indigo {color:#6610f2;}
.text-purple {color:#6f42c1;}
.text-pink {color:#d63384;}
.text-red {color:#dc3545;}
.text-teal {color:teal;}
.text-light {color:rgb(36, 135, 135);}

.text-white {color:#fff;}
.lead{font-size: 20px;}
.text-center{text-align: center}

.bg-primary{background-color: #F7BF8A;}
.bg-secondary {background-color: #347de7; color: white}
.bg-dark{background-color: #333333;}
.bg-light{background-color:lightblue; color: #000}
.bg-teal {background-color:teal; color:white}

.hover-1:hover {background-color: #faa;color:darkred;}
.hover-2:hover{background-color:coral;color:aquamarine;}
.hover-3:hover{opacity: .8; box-shadow: 0px 1px 3px white}

.float-3{float:left; width: 33.33%; padding: 2rem;  }
.float-4{float:left; width:24.7%; padding: 2rem; border:1px solid black;margin:.5px}
.float-3.float-hover:hover{ box-shadow:-1px -1px 7px black; cursor:pointer}
.float-4:hover{background-color: chocolate; color:white; box-shadow:-1px -1px 5px grey; cursor:pointer}
.clr{clear: both}
.clearfix:after, .clearfix:before{display: table;content: ''}
.clearfix:after{clear: both}