/*Reset*/


/*$orange:  #fd7e14;*/
/*$yellow:  #ffc107;*/
/*$green:   #198754;*/
/*$teal:    #20c997;*/
/*$cyan:    #0dcaf0;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Main Styling*/
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;line-height: 1.7em;
  /*font-size: 62.3%; makes the root reference of rem = 10px; font-size: 10px;*/
  /*font-size: 16px;*/
}

a {color: #333;text-decoration: none}

h1,
h2,
h3 {padding-bottom: 20px;}

h1{ line-height: 1.1}

p {margin: 10px 0;}

/*Navbar
============================*/

#main-nav {
  background-color: #333;
  border-bottom: #F7BF8A 1px solid;
  color: #fff;
  overflow: auto;
  opacity: .92;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav #logo {
  color: #fff;
  text-transform: uppercase;
  float: left;
  padding-top: 20px;
  font-size: 40px;
}

#main-nav ul {
  list-style: none;
  float: right;
}

#main-nav ul li {
  float: left
}

#main-nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-transform: uppercase;
}

#main-nav ul li:hover {}

#main-nav ul li a:hover,
.current {
  background-color: #444;
  color: #f7c09a;
}

/* HEADER 
-----------------------*/
#header {
  position: relative;
  height: 600px;
  background-color: black;
}
#header:before{
  content: '';
  background: url("../img/showcase2.jpeg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  opacity: 0.4;

}
/* HEADER -> SHOW CASE
-----------------------*/
#header #showcase {
  /*border: 1px dashed white;*/
  text-align: center;
  color: #fff;display: inline-block;
  position: absolute;
  min-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#showcase  h1 {font-size: 60px;}

#showcase  p { padding-bottom:0px ; line-height: 1.8em;}

/*HEADER - > FORM*/
#header .form{
  background-color: #333333;
  color: white;
  text-align: center;
  padding:1rem;

  display: inline-block;
  position: absolute;
  /*min-width: 70%;*/
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity:0.8;
  box-shadow: #dddddd 1px 1px 5px;
  border:1px solid white;
}
#header .form h3 {
  padding-bottom: 0px;
}
#header .form input{
  padding:10px;
  border: 1px solid #ddd;
}

#header .form input[type='date'],
#header .form select
{
  padding:7px;
}
/* HISTORY SECTION
============================*/
#history {height: 400px;overflow:hidden}

#history-img,#history-content {float: left;width: 50%;min-height: 100%}
#history-img {background: url(../img/history.jpeg) no-repeat center center/cover;min-height: 100%;}
#history-content {min-height: 100%;text-align:center;color: #fff;padding: 50px 30px;overflow: hidden;}

/* PERKS SECTION
============================*/

/*#feature{ margin: 0; padding: 0;}*/
/*#feature aside{ float: left; width: 33%; text-align: center; padding: 50px;}*/
/*#feature aside i{ padding-bottom: 10px}*/

/*ABOUT PAGE - ABOUT SECTION
============================*/

/*#about .about-content, figure {float: left;width: 50%; }*/
#about figure{width:40%; float: right; height: auto; }
#about figure img{width: 100%;border-radius: 10%}

/*ABOUT PAGE - TESTIMONIAL
============================*/
#testimonial { background: url(../img/test-bg2.jpeg) no-repeat center center/cover;height: auto;}
#testimonial article { padding: 50px; padding-top: 100px;  }
#testimonial article h1 { color: #fff; font-size: 40px; text-align: center; line-height: 1em}
#testimonial article div{ padding: 10px; margin: 15px; border-radius: 5px; opacity: .9}
#testimonial article div img{ width: 100px; border-radius: 50%; float: left; margin-right: 20px}
/*#testimonial::after{content: ''; display: block; clear: both}*/

/*CONTACT US - FORM
============================*/
/* #contact-us{ padding-top: 20px; height: auto} */
#contact-us .container{}
#contact-us #form{ float: left; width: 60%;} 
#contact-us .map{ float: right; width: 40%; margin-top: 4rem;}
#contact-us #map {height:400px;}

/*#contact-us::after{ content: ''; display: block; clear: both;}*/
#contact-us .form-group label{display: block; color: #444; margin-bottom: 5px }
#contact-us .form-group input, textarea{width: 100%; padding: 10px; border: 1px solid #ddd;}
#contact-us .form-group textarea{ height: 200px;}
#contact-us button {font-size: 20px }

#contact-us .form-group input:focus,#contact-us .form-group textarea:focus {outline: 0; border-color: #F7BF8A}
#contact-info{ }
/*.contact-info::after{ content: ''; display: block; clear: both;}*/
/*#contact-info .container div{ float: left; width: 33%; text-align: center;}*/
/*#contact-info .container aside i{ padding-bottom: 10px;}*/

/* FOOTER
============================*/
footer{ text-align: center; color: #fff; background-color: #444;}
footer .float-3{padding: 1rem; margin: 0;background-color: #444;}


